<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Appkidokan Invoice</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-logo {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #e3e3e3;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px 20px;
            vertical-align: top;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
            color: #000;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    </style>
</head>

<body>
    <div class="invoice-box">
        <div class="invoice-logo">
            <img style="width:100%; max-width:100px;" src="<% config.baseURL %>/server-images/logo.png">
            <!-- <img src="logo.png" style="width:100%; max-width:100px;"> -->
        </div>
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td colspan="5">
                        <p>Hi <%= customer.full_name %>,</p>
                        <!-- <p>Thanks for using aapkidokan! Your order has been confirmed and will be delivered shortly.</p> -->
                        <p>Thanks for using aapkidokan! Your order has been delivered Successfully.</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="top">
                    <td colspan="5">
                        <table>
                            <tr align="right">
                                <td>
                                    Invoice #: <%= invoice_no %><br>
                                    Placed On: <%= moment(order.created_at).format('DD/MM/YYYY') %><br>
                                    Scheduled On: <%= moment(order.deliver_start_time).format('DD/MM/YYYY') %><br>
                                    Delivery Slot: <%= moment(order.deliver_start_time).format('hh:mm a') %> - <%= moment(order.deliver_end_time).format('hh:mm a') %><br>
                                    Mode of Payment: 
                                    <% if(order.payment_type == 1) { %> 
                                        COD <br> 
                                    <% } else { %>  
                                        Card  <br>
                                    <% } %>
                                    Due: 0 PKR
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td>
                                   <%= order.address.delivery.full_name %><br>
                                   <%= order.address.delivery.contact_number %><br>
                                    <%= order.address.delivery.house_no %>, <%= order.address.delivery.locality %>, <%= order.address.delivery.landmark %><br>
                                    <%= city.name %><br />
                                </td>

                                <td align="right">
                                    <%= customer.full_name %><br>
                                    <%= customer.email %><br>
                                    <!-- <%= customer.contact_number %><br> -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading">
                    <td>ITEM</td>
                    <td>SIZE</td>
                    <td>PRICE PER QUANTITY</td>
                    <td>QUANTITY</td>
                    <td align="right">TOTAL</td>
                </tr>

                <!-- {{#each products}} -->
                <% order.products.forEach(function(product, index) { %>
                    <tr class="item {{#if @last}} last{{/if}}">
                        <td><%= product.name %></td>
                        <td><%= product.size %> </td>
                        <td align="center"><%= product.price %> PKR</td>
                        <td align="center"><%= product.count %></td>
                        <td align="right"><%= product.price * product.count %> PKR</td>
                    </tr>
                <% }) %>
                <!-- {{/each}} -->

                <tr class="total">
                    <td colspan="5" align="right">
                        Total: <%= order.total_amount %>  PKR<br>
                        <!-- <span style="font-weight: normal">VAT: € {{exvat}}</span><br/> -->
                        <span style="font-weight: normal">Delivery Charges: <%= order.delivery_charges %> PKR</span><br />
                        <span style="font-weight: normal">Coupon: -<%= order.discount %> PKR</span><br />
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="right">
                        <span>Paid Amount: <%= order.total_amount_after_tax + order.delivery_charges - order.discount %> PKR</span>
                    </td>
                </tr>
            </tbody>



            <tfoot style="background-color:#1faf4b; -webkit-print-color-adjust: exact;">
                <tr>
                    <td colspan="5" style="padding:15px;">
                        <h3 style="margin:5px 0;color:#fff;font-size:12px;text-align: center;"> &copy; 2019 Aapkidokan.
                            All Right Reserved. </h3>
                        <!-- <ul style="list-style-type: none;text-align: center;">
                        <li style="padding-left:10px;"><a href="#"><img src="facebook.png" alt="" title=""/></a></li>
                        <li style="padding-left:10px;"><a href="#"><img src="facebook.png" alt="" title=""/></a></li>
                        <li style="padding-left:10px;"><a href="#"><img src="facebook.png" alt="" title=""/></a></li>
                    </ul> -->
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>